:root{
}

.editorlayouter {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
}
.row{
	grid-column-start: 1;
	grid-column-end: 4;
}
.left{text-align: right;}
.center{text-align: center;}
.right{text-align: left;}

@media print {
  .noprint,.actions{display:none;}
  #pattern,#pattern svg{max-height: 85vh;}
}