:root{
}

.editorlayouter {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
}
.row{
	grid-column-start: 1;
	grid-column-end: 4;
}
.left{text-align:right;justify-self:left;overflow:hidden;}
.center{text-align: center;}
.right{text-align:left;justify-self:right;overflow:hidden;}

#loadConfigItem{
  display:none;
}

@media print {
  .noprint,.actions{display:none;}
  #pattern{max-height: 90vh !important;}
  
  #preview{max-height:10vh !important;}
}

/*nav ul li {
  display: inline-block;
}
nav ul li:after{
  content: ''
}
nav ul li+li:before{
  content: ' · '
}*/
